body{
    padding:0px;
    margin :0px;
    display:flex;
    background-color:black;
    color:white;
    position: relative;
}
 h1 {
font-size:40px;
font-style: oblique;
width:fit-content;
margin-left:80px;
}
h1::first-letter{
    color:yellowgreen;
    font-size:80px;
}
header nav{
    width:fit-content;
    position:absolute;
    top:0;
    bottom:0;
    right: 0;
}
header nav ul{
list-style: none;
display:flex;
margin-right:60px;
}
header nav ul li{
    display: flex;
    padding:20px;
font-size: 25px;
font-weight: bolder;
cursor:pointer;
transition:transform 0.5s ease-in-out;
}
header nav ul li:hover{
    color:yellowgreen;
    transform: scale(1.5);
}
 .content h3{
      font-weight: bolder;
      font-size: 50px;

}
.content p{
    line-height: 200%;
    font-size: 40px;
    font-weight: bolder;
}
.content p::first-letter,.content h3::first-letter{
    font-size: 60px;
}
.content{
    display:block;
    width:fit-content;
    height: fit-content;
    margin:80px;
    }
#btn{
    font-size: 20px;
    border-radius: 10px;
    background-color:yellowgreen;
    border-style: none;
    padding: 10px;
    width:fit-content;
    height: fit-content;
    font-weight: bolder;
    transition:  background-color 0.3s ease-in, transform 0.3s ease-in;
}
#btn:hover {
background-color: azure;
transform: scale(1.2);
cursor: pointer;
}
.image{
    display:flex;
    align-items: flex-start;
    justify-content:center;
}
.image img{
    height:20%;
    width:40%;
    position:absolute;
    top:0;
    bottom:0;
    padding:50px;
    margin-left:50%;
    margin-top:100px;
}
.intro{
    width:fit-content;
    height: fit-content;
    display:grid;
    margin:10px 80px;
    
}

.intro h4,h5{
font-size: 50px;
font-style: oblique;
width:fit-content;
height:fit-content;
margin:0;
}
.intro p{
    font-size:30px;
    line-height: 150%;
    font-weight: lighter;
}
.intro .icon{
    color:yellowgreen;
    font-size: 30px;
}
.intro .icon i{
   padding:10px;
   transition: 0.3s ease-in, transform 0.3s ease-in;
}
i:hover {
    transform: scale(1.2);
    cursor: pointer;
    }

.profileimage{
    width: 200px;       
    height: 200px;  
    background-color:transparent;
    border:solid 20px yellowgreen;
    border-radius:50%;
    /* display:flex; */
    /* align-items: flex-start;
    justify-content:right; */
    /* margin:30px 10px 20px 80px; */
    position:absolute;
    top:50%;
    bottom:0;
    left:60%;

}
.profileimage img{
 height:110%;
}
.skills {
    font-size: 50px;
    /* display:flex; */
    /* align-items: flex-start;
    justify-content: right; */
    position:absolute;
    top:80%;
    bottom:0;
    left:5%;
}
.skill-col1{
    background-color: azure;
    border-radius: 30px;
    width:60%;
    height:fit-content;
    margin:100px 50px 10px 80px;
   
    display:flex;
}
.skill-col1 img{
height:10%;
width:10%;
padding:20px;
margin:0;
}
.tools{
    font-size: 50px;
    /* display:flex; */
    position:absolute;
    top:99%;
    bottom:0;
    left:5%;
    height:fit-content;
}
.tool-img1{
    background-color: azure;
    position:absolute;
    border-radius: 30px;
    width:60%;
    height:fit-content;
    margin:130px 50px 10px 80px;
}
.tool-img1 img{
height:10%;
width:10%;
padding:20px;
margin:0;
}
.project{
    font-size: 50px;
    /* display:flex;
    align-items: flex-start;
    justify-content: right; */
    position:absolute;
    top:120%;
    bottom:0;
    left:5%;
}
.projects{
    /* display:block;
    align-items:flex-start;
    justify-content:left; */
    left:5%;
    top:130%;
    position: absolute;
    column-count:2;
    /* column-width:340px; */
    column-gap:60px;
    /* height:40em;
    width:50em; */
}

.projects p{
    width:300px;
    text-align:justify;
    font-size:22px;
    line-height:2rem;
   
}
.projects img{
    width:300px;
    height:300px;
}
.projects .project-des1,
.projects .project-des2{
    border:solid yellowgreen 5px;
    padding:20px;
    overflow:auto;
     height:30em;
    width:20em;
}

#contact{
    font-size: 50px;
    /* display:flex; */
    position:absolute;
    top:170%;
    bottom:0;
    left:5%;
    height:fit-content;

}
.contact{
    left:5%;
    top:180%;
    position: absolute;
}
.get-info input{
    display:grid;
    padding:10px;
    margin:20px;
    width:250px;
    height:20%;
    border-radius:10px;
    border:solid 1px white;
    background-color:white;
    font-weight: bold;
}
.my-info{
    top:185%;
    position: absolute;
    width:fit-content;
    left:30%;
}
.my-info a, .my-info p{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width:600px){
    nav ul li{
        font-size:15px;
        display:grid;
        
    }
}




